server {
    listen 80 default_server;
    server_name _;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    return 301 https://gartnercodes.com$request_uri;
}

server {
    listen 443 ssl default_server;
    server_name _;

    # Use any existing valid cert (can be hemis cert), since this is only to redirect.
    ssl_certificate     /etc/letsencrypt/live/hemis.gartnercodes.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/hemis.gartnercodes.com/privkey.pem;

    return 301 https://gartnercodes.com$request_uri;
}
